@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-satoshi font-normal text-base text-body bg-whiten relative z-1;
  }
}

@layer components {
  .input-field {
    @apply w-full rounded border-[1.5px] border-stroke bg-gray py-3 px-5 text-black outline-none transition 
    focus:border-primary dark:border-form-strokedark dark:bg-form-input dark:text-white;
  }

  .btn-primary {
    @apply flex justify-center rounded bg-primary py-2 px-6 font-medium text-gray hover:bg-opacity-90;
  }

  .btn-secondary {
    @apply flex justify-center rounded border border-stroke py-2 px-6 font-medium text-black hover:shadow-1 dark:border-strokedark dark:text-white;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .chat-height {
    @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
  }
  .inbox-height {
    @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
  }
}

